/*
Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PS3-SPECIFIC STYLING STARTS HERE */

@font-face {
	font-family: 'droid';
	src: url('./fonts/droid.eot');
	src: url('./fonts/droid.eot?#iefix') format('embedded-opentype'),
	url('./fonts/droid.woff') format('woff'),
	url('./fonts/droid.ttf') format('truetype'),
	url('./fonts/droid.svg#droid_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 100%; /* new */
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	/* Prevents the normal bubble dialog box for links. */
	-webkit-touch-callout: none;

	/* Prevents the contents of an element (such as an image) from being dragged separately from the element. */
	-webkit-user-drag: none;

	/* Sets the color and opacity of the highlight color when a user taps a link or clickable element.
		Set this to an opacity of zero to eliminate the highlight entirely. */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	color: #000000;
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: 125%;
}

.outer, #outer {

}

.main, #main {
	margin: 0 auto;
}

.grid, #grid {
	padding: 0;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	z-index: 10;
}

.stsp, #stsp {
	color: #000000;
	height: 1.25em;
	margin: 1em 0 1em 0; /* trbl */
	padding: 0;
	border: 0;
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

.inp, #inp {
	height: 1.25em;
	margin: 1em 0 1em 0; /* trbl */
	padding: 0;
	border: 0;
	text-align: left;
	display: none;
	position: relative;
	z-index: 1;
}

.inlabel, #inlabel {
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
}

.inspan, #inspan {
	display: block;
	overflow: hidden;
	color : inherit;
	background-color: inherit;
	margin: 0;
	border: 0;
	padding: 0 0.5em 0 0.5em; /* trbl */
}

.inbox, #inbox {
	text-align: left;
	border: 1px solid #000000;
	box-shadow: none;
	width: 100%;
	color : #000000;
	background-color: #FFFFFF;
}

.tiny {
	font-size: 0.75em;
}

.debug, #debug {
	display: none;
	position: relative;
	z-index: 1;
}

.monitor, #monitor {
	width: 100%;
	text-align: left;
	font-family: monospace;
	font-size: 1em; /* new */
	color: #000000;
	background-color: #FFFFFF;
	overflow-y: scroll;
	box-shadow: none;
}

.footer, #footer {
	width: 100%;
	font-size: 0.67em;
	text-align: center;
	position: relative;
	z-index: 1;
	margin: 1em 0 1em 0; /* trbl */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

.login, #login {
	width: 100%;
	color: #000000;
	background-color: #FFFFFF;
	font-size: 1em;
	clear: both;
	position: relative;
}

.login p, #login p {
	text-align: left;
	padding: 0;
	border: 0;
	margin: 0;
}

.login a, #login a {
	font-size: 0.75em;
	text-decoration: none;
	color: #0000FF;
}

.login a:hover, #login a:hover {
	text-decoration: underline;
}

.prompt {
	font-size: 0.67em;
	color: #008000;
}

.label {
	text-align: right;
	width: 8em;
	float: left;
}

.email {
	text-align: left;
}

.pw {
	text-align: left;
}

.go, #go {
	margin: 0;
	padding: 0;
}

